.btn
{
    font-size: 14px;
    border: 1px solid #c0c3c7;
    font-weight: 500;
    padding: 5px 16px;

    transition: all .3s;

    border-radius: 4px;
    background: transparent;
    

    @include text_headline();

    &.btn-sm
    {
        font-size: 12px;
        padding: 4px 23px;
    }

    &[disabled]
    {
        cursor: not-allowed;

        opacity: .3;
    }


    &.cancel
    {
        border-color: $btn-cancel-border-color;
        background-color: $btn-cancel-background-color;
        @include text_headline($btn-cancel-font-color);
    }

    &.authorize
    {
        line-height: 1;

        display: inline;

        color: $btn-authorize-font-color;
        border-color: $btn-authorize-border-color;
        background-color: $btn-authorize-background-color;

        span
        {
            float: left;

            padding: 4px 20px 0 0;
        }

        svg
        {
            fill: $btn-authorize-svg-fill-color;
        }
    }

    &.execute
    {
        background-color: #5563da;
        color: #fff;
        border-color: #5563da;
    }
}

.btn-group
{
    display: flex;

    padding: 0 20px;

    .btn
    {
        flex: 1;

        &:first-child
        {
            border-radius: 4px 0 0 4px;
        }

        &:last-child
        {
            border-radius: 0 4px 4px 0;
        }
    }
}

.authorization__btn
{
    padding: 0 10px;

    border: none;
    background: none;

    &.locked
    {
        opacity: 1;
    }

    &.unlocked
    {
        opacity: 1;
    }
}

.expand-methods,
.expand-operation
{
    border: none;
    background: none;

    svg
    {
        width: 20px;
        height: 20px;
    }
}

.expand-methods
{
    padding: 0 10px;

    &:hover
    {
        svg
        {
            fill: $expand-methods-svg-fill-color-hover;
        }
    }

    svg
    {
        transition: all .3s;

        fill: $expand-methods-svg-fill-color;
    }
}


button
{
    cursor: pointer;
    outline: none;

    &.invalid
    {
        @include invalidFormElement();
    }
}

.utility-buttons
{
    margin-top: 5px;
    padding-right: 6px;

  button
    {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    height: 20px;
    width: 20px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none' style='&%2310;'%3E%3Cpath d='M15.8346 17.4967H6.66797V5.83008H15.8346V17.4967ZM15.8346 4.16341H6.66797C6.22594 4.16341 5.80202 4.33901 5.48946 4.65157C5.1769 4.96413 5.0013 5.38805 5.0013 5.83008V17.4967C5.0013 17.9388 5.1769 18.3627 5.48946 18.6753C5.80202 18.9878 6.22594 19.1634 6.66797 19.1634H15.8346C16.2767 19.1634 16.7006 18.9878 17.0131 18.6753C17.3257 18.3627 17.5013 17.9388 17.5013 17.4967V5.83008C17.5013 5.38805 17.3257 4.96413 17.0131 4.65157C16.7006 4.33901 16.2767 4.16341 15.8346 4.16341ZM13.3346 0.830078H3.33464C2.89261 0.830078 2.46868 1.00567 2.15612 1.31823C1.84356 1.63079 1.66797 2.05472 1.66797 2.49674V14.1634H3.33464V2.49674H13.3346V0.830078Z' fill='white' fill-opacity='0.6'/%3E%3C/svg%3E");  }
    }

    button.maximize-btn {
        margin-left: 16px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Cpath d='M16.6663 4.16732C16.6663 3.9463 16.5785 3.73434 16.4223 3.57806C16.266 3.42178 16.054 3.33398 15.833 3.33398H11.6663C11.4453 3.33398 11.2334 3.42178 11.0771 3.57806C10.9208 3.73434 10.833 3.9463 10.833 4.16732C10.833 4.38833 10.9208 4.60029 11.0771 4.75657C11.2334 4.91285 11.4453 5.00065 11.6663 5.00065H13.808L11.0747 7.74232C10.9966 7.81979 10.9346 7.91195 10.8923 8.0135C10.85 8.11505 10.8282 8.22397 10.8282 8.33398C10.8282 8.44399 10.85 8.55292 10.8923 8.65446C10.9346 8.75601 10.9966 8.84818 11.0747 8.92565C11.1521 9.00376 11.2443 9.06575 11.3459 9.10806C11.4474 9.15037 11.5563 9.17215 11.6663 9.17215C11.7764 9.17215 11.8853 9.15037 11.9868 9.10806C12.0884 9.06575 12.1805 9.00376 12.258 8.92565L14.9997 6.18398V8.33398C14.9997 8.555 15.0875 8.76696 15.2438 8.92324C15.4 9.07952 15.612 9.16732 15.833 9.16732C16.054 9.16732 16.266 9.07952 16.4223 8.92324C16.5785 8.76696 16.6663 8.555 16.6663 8.33398V4.16732ZM8.92467 11.0757C8.8472 10.9975 8.75504 10.9355 8.65349 10.8932C8.55194 10.8509 8.44302 10.8292 8.33301 10.8292C8.223 10.8292 8.11408 10.8509 8.01253 10.8932C7.91098 10.9355 7.81881 10.9975 7.74134 11.0757L4.99967 13.809V11.6673C4.99967 11.4463 4.91188 11.2343 4.7556 11.0781C4.59932 10.9218 4.38735 10.834 4.16634 10.834C3.94533 10.834 3.73337 10.9218 3.57709 11.0781C3.42081 11.2343 3.33301 11.4463 3.33301 11.6673V15.834C3.33301 16.055 3.42081 16.267 3.57709 16.4232C3.73337 16.5795 3.94533 16.6673 4.16634 16.6673H8.33301C8.55402 16.6673 8.76598 16.5795 8.92226 16.4232C9.07854 16.267 9.16634 16.055 9.16634 15.834C9.16634 15.613 9.07854 15.401 8.92226 15.2447C8.76598 15.0884 8.55402 15.0007 8.33301 15.0007H6.18301L8.92467 12.259C9.00278 12.1815 9.06478 12.0893 9.10708 11.9878C9.14939 11.8862 9.17117 11.7773 9.17117 11.6673C9.17117 11.5573 9.14939 11.4484 9.10708 11.3468C9.06478 11.2453 9.00278 11.1531 8.92467 11.0757Z' fill='white' fill-opacity='0.6'/%3E%3C/svg%3E");
    }

// overrides for smaller copy button for curl command
.curl-command .copy-to-clipboard
{
  bottom: 5px;
  right: 10px;
  width: 20px;
  height: 20px;
  button
  {
    padding-left: 18px;
    height: 18px
  }
}
